In [ ]:
# code begins
print("GeeksforGeeks")

GeeksforGeeks

In [ ]:
# Large integer
x = 000000000000000000000000000000000;
x = x + 1
print(x)

1

In [ ]:
# Type of variables

A = "GeeksforGeeks"
B = 3

print(type(A))
print(type(B))

<class 'str'>
<class 'int'>

In [ ]:
print(100**100)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
# String concatenate

A = "Geeks"
B = "for"
C = "Geeks"
print(A+B+C)

GeeksforGeeks

**Variables, Expressions, Conditions and Functions**

In [ ]:
# Variables a and A
a = 2
A = 3
print(a)
print(A)

2
3

Conclusion - Variables need not be declared and they are case sensitive

In [ ]:
# Python program to declare variables
myNumber = 3
print(myNumber)

myNumber2 = 4.5
print(myNumber2)

myNumber ="helloworld"
print(myNumber)

3
4.5
helloworld

**#Conditions**

In [ ]:
a = 2
if a % 2 == 0:
  print("a is even")
elif a % 2 != 0:
  print("a is odd")

a is even

***Explanation - if a module 2 = 0 we say that a is even elif a module 2 is not equal to 0 we print a is odd***

**#Functions**

In [ ]:
def checkoddoreven(a):
  if a % 2 == 0:
    print("a is even")
  elif a % 2 != 0:
    print("a is odd")

checkoddoreven(2)

a is even

***Explanation - The function can be invoked by writing the function name followed by the parameter lists in the bracket***

**# String: Immutable** that is they cannot be changed

In [ ]:
a = "Python in GeeksforGeeks"
print(a)

Python in GeeksforGeeks

**# Lists: Mutable** they are just like arrays but just declared in a different language but the most powerful thing is lists need not be homogeneous
-A single list can contain strings integers as well as objects
-List can be used for implementing stacks and queues
-List are mutable that is they can be altered once declared let's look at an example on lists we have a list here containing
-Integers 6, string is geeksforgeeks, and another integer is 1, now suppose we need to append 3 in this list. You can print any element of the list.

In [ ]:
list = [6, "GeekforGeeks" , 1]
print(list)
list.append(3)
print(list[1])

[6, 'GeekforGeeks', 1]
GeekforGeeks

**#Tuples:Immutable ** they are just like lists with only one difference that they are immutable that is they cannot be changed once declared. We declare tuples with round brackets unlike lists to print it we need to write print command

In [ ]:
tup = (6, "GeekforGeeks" ,1)
print(tup)
print(tup[1])

(6, 'GeekforGeeks', 1)
GeekforGeeks

**Example1: Iteration by while loop for a condition** ** Looping can be performed in python bu using for and while loops. Upon a particular condition we can also iterate on strings, lists and tuples. Example: we initialize i with the value equal to one and run a loop while i is smaller than 10. Each time we increment the value of i by one and print i.

In [ ]:
i = 1

while i < 10:
  i+=1
  print(i)

2
3
4
5
6
7
8
9
10

**Example 2: Iteration by for loop in string**. We first declare string s equal to Hello world then we just write for i in s that implies we are iterating on entire length of string s by a variable i and then we print i.

In [ ]:
s = "Hello World"

for i in s:
  print(i)

H
e
l
l
o

W
o
r
l
d

**Example 3: Iteration by for loop on list**. that means iterating the length of L by variable i

In [ ]:
l = [1,2,3,4,5,6]

for i in l:
  print(i)

1
2
3
4
5
6

**Example 4: Iteration by for loop for range**

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

**PYTHON STRING METHODS** **PART-1**

**len() function returns the lenth of the string. Let's look at an example, we declare a string A as "GeeksforGeeks". To find the length we print len(A)**.

In [ ]:
# len() function
A = "GeeksforGeeks"
print(len(A))

13

**count() function counts the occurrence of a substring in the entire string**. Let's look at an example, suppose we need to search for a substring "is" in this string. So, we write count and in parenthesis we first write the substring to be searched (is) then, we write the starting index (which is 0 by default) and then ending index( which is equal to length by default).

In [ ]:
# count()
A = "This is a python tutorial"
print(A.count("is", 0, len(A)))

2

**Alignment fuction That is center(), ljust(), rjust()**. These functions are used to surround the string with a character repeated both sides, on the right and on left respectively.These functions takes 2 arguments , first the length of new string formed after applying the alignment and second the character with which we wish to align the string.Let's look at an example on all the 3 functions. Suppose we need to align **str = geeksforgeeks** to the center, left and right with a hyphen. So, we write str.center and within round brackets the size(20) and character hyphen. Let's run this code. We can see that the output is center, left and right aligned of geeksforgeeks.

In [ ]:
# center(), ljust(), rjust()

str = "GeeksforGeeks"
print(str.center(20,'-'))
print(str.ljust(20,'-'))
print(str.rjust(20,'-'))

---GeeksforGeeks----
GeeksforGeeks-------
-------GeeksforGeeks

**isalpha() function** returns true when all the characters in the string are alphabets else, returns false. **isalnum() function** returns true if all the characters are either numbers or alphabet else, returns false.**isspace() function** returns true if all the characters in the string are spaces. Let's look at this code. We have declared 3 string. Now,let's run all the three functions on all 3 strings. Let's run this code. We can see that first string returns true with isalpha and isalnum. It returns false with isspace. The next string just returns true with isalnum as it contains both alphabets and numbers.The third string just contains spaces so returns true just with isspace.

In [ ]:
str1 = "abc"
str2 = "ab12"
str3 = "  "

print("For string 1: isalpha() --> ",str1.isalpha())
print("For string 1: isalnum() --> ",str1.isalnum())
print("For string 1: isspace() --> ",str1.isspace())
print()
print("For string 2: isalpha() --> ",str2.isalpha())
print("For string 2: isalnum() --> ",str2.isalnum())
print("For string 2: isspace() --> ",str2.isspace())
print()
print("For string 3: isalpha() --> ",str3.isalpha())
print("For string 3: isalnum() --> ",str3.isalnum())
print("For string 3: isspace() --> ",str3.isspace())

For string 1: isalpha() -->  True
For string 1: isalnum() -->  True
For string 1: isspace() -->  False

For string 2: isalpha() -->  False
For string 2: isalnum() -->  True
For string 2: isspace() -->  False

For string 3: isalpha() -->  False
For string 3: isalnum() -->  False
For string 3: isspace() -->  True

**join() function** is used to join a sequence of strings with another string. Suppose we need to join all the strings present in a list with an underscore.Let's look at this example. We have 3 strings in the list l and we need to join it with an underscore. So, we declare underscore as string s.And write s.join(l)

In [ ]:
# join()

l = ["Geeks" , "for" , "Geeks"]
s = " _ "
print(s.join(l))

Geeks _ for _ Geeks

**PYTHON STRING METHODS- PART 2**

**find() functions** and **rfind()** These functions are used to find the position of a substring within a string. They both return minus 1 if the string is not found. The function find() returns the first occurrence of the substring and rfind() returns the last occurrence of the substring. Let's look at examples on both of them. Both these functions take three parameters **1** The string to be searched (is)** 2**. which is starting index which is 0 by default and **3** the ending index which is equal to the length of string by default. Let's search for the substring is in the string str using both find() and rfind() functions. Let's run this code. we can see that the output is 2 and 5 that is the starting index of first and last occurrence of the substring.

In [ ]:
# Python code to demonstrate working of
# find() and rfind()
str = "This is a python tutorial"

print ("The first occurrence of 'is' is at : ")
print (str.find( "is",0,len(str) ) )

print("The last occurrence of 'is' is at : ")
print (str.rfind( "is",0,len(str) ) )

The first occurrence of 'is' is at :
2
The last occurrence of 'is' is at :
5

**startswith() function** and **endswith()** function. The purpose of these functions is to return true if the string begins or ends with mentioned strength else the return false. Let's see an example suppose we have two **strings A** = geeksforgeeks **and B** = geeks if A dot starts with B we print A starts with B else we print A does not start with B and if A dot ends with B we print A ends with B else we print A does not end with B

In [ ]:
# startswith() and endswith()

A = "GeeksforGeeks"
B = "Geeks"
if (A.startswith(B)):
  print("A starts with B")
else:
  print("A does not start with B")

if (A.endswith(B)):
  print("A ends with B")
else:
  print("A does not end with B")

A starts with B
A ends with B

**isupper() and islower() functions**. isupper() returns true if all the elements of the string are in upppercase else returns false. islower() returns true if all the elements of the string are in lowercase else returns false. Let's look at an example, we have **3 strings A** which has all the characters in lowercase , **B** which has all the characters in uppercase and **C** having mixed case now let's run the two function on all the three of them. We can see that the output is as expected A returns true with islower, B returns true with isupper, and C returns false for both of them.

In [ ]:
# isupper() and islower()

A = "geeksforgeeks"
B = "GEEKSFORGEEKS"
C = "GeeksforGeeks"

print("For string A")
print("islower(): ",A.islower())
print("isupper(): ",A.isupper())
print()
print("For string B")
print("islower(): ",B.islower())
print("isupper(): ",B.isupper())
print()
print("For string C")
print("islower(): ",C.islower())
print("isupper(): ",C.isupper())

For string A
islower():  True
isupper():  False

For string B
islower():  False
isupper():  True

For string C
islower():  False
isupper():  False

**upper(), lower(), title(), and swapcase() functions**. When we write string name dot any of these functions then **upper** returns a new string having all the characters in upper case, **lower** returns a new string having all the characters in lower case, **swapcase** return the new string having swapped case that is it changes lowercase to uppercase and uppercase to lowercase. The **title function** returns a new string which has all the first letters of every word in uppercase that is the title case. Let's run this program. we can see that the output is as expected.

In [ ]:
# upper() lower() title() swapcase()

A = "You are watching a python tutorial at GeeksforGeeks"

print("Output of the function upper: ",A.upper())
print("Output of the function lower: ",A.lower())
print("Output of the function title: ",A.title())
print("Output of the function swapcase: ",A.swapcase())

Output of the function upper:  YOU ARE WATCHING A PYTHON TUTORIAL AT GEEKSFORGEEKS
Output of the function lower:  you are watching a python tutorial at geeksforgeeks
Output of the function title:  You Are Watching A Python Tutorial At Geeksforgeeks
Output of the function swapcase:  yOU ARE WATCHING A PYTHON TUTORIAL AT gEEKSFORgEEKS

**PYTHON STRING METHODS - PART 3**

**strip(), lstrip(), and rstrip() functions**. **Strip function()** removes all the leading and trailing characters mentioned in its argument. **Lstrip function()** removes all the leading and **Rstrip function()** removes all the trailing characters from the string. Let's declare our string as str = **"---geeksforgeeks---"** , now let's run strip, lstrip, rstrip on this string with the argument hyphen. On running this code we can see that in the case of strip function () all leading and trailing hyphens are removed. In the case of lstrip() leading hyphens are removed and in case of rstrip function trailing hyphens are removed.

In [ ]:
# strip(), lstrip() and rstrip()
str = "---geeksforgeeks---"

# using strip() to delete all '-'
print ( "string after stripping all '-' is : ")
print ( str.strip('-') )

# using lstrip() to delete all leading '-'
print ( "string after stripping all leading '-' is : ")
print ( str.lstrip('-') )

# using rstrip() to delete all trailing '-'
print ( " string after stripping all trailing '-' is : ")
print ( str.rstrip('-') )

string after stripping all '-' is :
geeksforgeeks
string after stripping all leading '-' is :
geeksforgeeks---
 string after stripping all trailing '-' is :
---geeksforgeeks

**min() and max() functions **returns the minimum and maximum value alphabet from the string. So we declare out string **str as "geeksforgeeks"**. Now, let's run min and max function on this string. We can see that the output is e and s as they are lexicographically minimum and maximum.

In [ ]:
# min() and max()
str = "geeksforgeeks"

# using min() to print the smallest character

print ("The minimum value character is : " + min(str));

# using max() to print the largest character

print ("The maximum value character is : " + max(str));

The minimum value character is : e
The maximum value character is : s

**maktrans() and translate() functions**. Maktrans is used to map the contents of string 1 with string 2 with respective indices to be translated later using the translate functions. Translate function is used to swap the string elements mapped with the help of maktrans. In python3 we use **str.maktrans** for using the maktrans function. Now, let's see an example, we declare a string **str_="geeksforgeeks"str1="gfo" and str2="abc"**. Now, we map str1 with str2 using maktrans that is we mapped **'g' with 'a'**, **'f' with 'b' and 'o' with 'c'** and print the mapped string of str using the translate function. Let's run this program, we can see that in the output, 'g' is replaced with 'a' , 'f' with replaced with 'b' and 'o' with replaced with 'c'.

In [ ]:
str_ = "geeksforgeeks"

str1 = "gfo"
str2 = "abc"

# using maktrans() to map elements of str2 with str1
mapped = str.maketrans( str1, str2 );

# using translate() to translate using the mapping
print ("The string before translation using mapped elements is : ")
print(str_)
print ("The string after translation using mapped elements is : ")
print(str_.translate(mapped)) ;

The string before translation using mapped elements is :
geeksforgeeks
The string after translation using mapped elements is :
aeeksbcraeeks

**replace() function** . This function is used to replace a substring with a new substring in the string. This function has 3 arguments. First the string to be replaced, second the string with which we wish to replace and third the number of replacements, by default this value is infinite.

In [ ]:
# replace()

str = "nerdsfornerds is for nerds"

str1 = "nerds"
str2 = "geeks"

# using replace() to replace str2 with str1 in str
# only changes 2 occurrences
print ("The string after replacing strings is : ")
print (str.replace( str1, str2, 2))

The string after replacing strings is :
geeksforgeeks is for nerds

**LIST METHODS AND OPERATORS IN PYTHON - 1**

Let's first discuss, "**in**" and **"not in"** operators in python. The "**in**" operator is used to check if an element is present in the list or not. It returns true if element is present in list else returns false. The "**not in**" operator is used to check if an element is not present in the list. Returns true if element is not present in list else returns false. Now, let's look at an example. we declare a list l [1, 4, 3, 2, 5] . In and not in are simple operators used to find whether a value exists in a data type or not.

In [ ]:
# Python code to demonstrate the working of
# "in" and "not in"
# initializing list
l = [1, 4, 3, 2, 5]

# checking if 4 is in list using "in"
if 4 in l:
  print ("4 is present in this list")
elif 4 not in l:
  print ("4 is not present in this list")

4 is present in this list

Now, let's discuss **len()**, **min()**, and **max()** methods in python. len() function returns the length of a list, max() returns the maximum element and min() returns the minimum element from the list.

In [ ]:
# len(), min() and max()
# initializing list 1
l = [2, 1, 3, 4]

# using len() to print length of list
print ("The length of list is : ", len(l))

# using min() to print minimum element of list
print ("The minimum element of list is : ", min(l))

# using max() to print maximum element of list
print ("The maximum element of list is : ", max(l))

The length of list is :  4
The minimum element of list is :  1
The maximum element of list is :  4

Next, let's discuss "+" and "*" operators . The plus operator is used to concatenate to lists whereas the * star operator is used to combine the list n times and return a single list. So, here's an example we have 2 lists l1 and l2 and we are assigning l2 as l1 + l2 and then we are printing l3. Next, we have written l1* and 3 and assigning it as l4. Let's run the program, we can see that the l3 is the concatenation of l1 and l2 and l4 is l1 combined 3 times.

In [ ]:
# "+" and "*" operators

l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
print(l1+l2)
l4 = l1*3
print(l4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

**index() and count() functions**. The index() function returns the index of first occurrence of an element whereas the count() function counts the number of occurrences of an element in the list. Let's look at an example, we declare a **list l = [1, 1, 2, 2, 2, 3, 4, 7]**. Now, to use index function **we write l.index and within brackets(2, 1, 8)** the number to be searched. So, we are searching for 2 from 1st to 8th element. To count the number of occurrences of 2, we write l.count and within brackets (2). Let's run this program, we can see that the first occurrence of 2 is at second index and total number of occurrences of 2 is 3.

In [ ]:
# index() and count()
# initializing list
l = [1, 1, 2, 2, 2, 3, 4, 7]

print ("The first occurrence of 2 is: ", l.index(2, 1, 8))

print ("The number of occurrences of 2 is: ", l.count(2))

The first occurrence of 2 is:  2
The number of occurrences of 2 is:  3

**LIST METHODS PART - 2**

**del() function and pop() function**. del() function deletes all the elements in range starting from index **'a'** till **'b'minus 1** mentioned in arguments and, pop deletes the element at the position mentioned in its argument. Let's look at an example. Suppose we have **lists l1 and l2**. Now, we first use del() to remove values from **index 1 to 5 in l1**. Next, we are using pop function to remove 3rd index of l2. Let's run this code. we can see that the output is as expected. In the first list elements from index 1 to 5 are removed and in l2 3rd index element is removed and rest elements have shifted accordingly.

In [ ]:
#del(list[a:b]) removes elements from a to b-1
#pop(a)

l1 = [1,2,3,4,5,6,7,8,9]
l2 = [1,2,3,4,5,6,7,8,9,10]
print("List l1 initially", l1)
del(l1[1:6])
print("List l1 after using del function", l1)
print("List l2 initially", l2)
l2.pop(3)
print("List l2 after using pop function", l2)

List l1 initially [1, 2, 3, 4, 5, 6, 7, 8, 9]
List l1 after using del function [1, 7, 8, 9]
List l2 initially [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List l2 after using pop function [1, 2, 3, 5, 6, 7, 8, 9, 10]

**insert() and remove() function**. insert() function is used to insert an element x at ith position mentioned in its argument. It takes 2 arguments, **first the position(i.e i) and second (i.e x)the element** to be inserted. The remove() function is used to remove the first occurrence of element x mentioned in its argument. Let's llok at an example, we have a list l and we are first **inserting 2 at 3rd index by writing l.insert(3,2)**and we are removing first occurrence of 4 by writing l.dot remove 4. Let's run this code. We can see that in the first output 2 is inserted at 3rd index and in the next output, first occurrence of 4 is removed.

In [ ]:
#insert(i,x)
#remove(x)

l = [1,2,3,4,4,5]
l.insert(3,2)
print("List after inserting 2",l)
l.remove(4)
print("List after removing first occurrence of 4",l)

List after inserting 2 [1, 2, 3, 2, 4, 4, 5]
List after removing first occurrence of 4 [1, 2, 3, 2, 4, 5]

Next, let's discuss, **sort() and reverse() functions**. sort () is used to sort a list and reverse() is used to reverse a list. Let's look at an example directly, we have this list l = [1,4,2,3,7,6,3,4,100,67]. First we are sorting it and then we are reversing it. Let's run this code. We can see that the ouput is as expected.

In [ ]:
#sort()
#reverse()
l = [1,4,2,3,7,6,3,4,100,67]
l.sort()
print("List after sorting becomes", l)
l.reverse()
print("List after reversing becomes", l)

List after sorting becomes [1, 2, 3, 3, 4, 4, 6, 7, 67, 100]
List after reversing becomes [100, 67, 7, 6, 4, 4, 3, 3, 2, 1]

**extend() and clear() functions**. Extend is used to extend the list with the elements present in another list. It takes another list as its argument that is (<list>) where as the clear function is used to erase all the elements of list. After this operation, list becomes empty. Let's see an example, we have 2 lists l1 and l2. **l1 is extending l2, l1.extend(l2)** , after this we are clearing l2. Let's run this code. we can see that in the first output, l1 is combination of l1 and l2 and in the second output l2 is empty.

In [ ]:
# extend(<list>)
# clear

l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
print("List 1 after extending with list 2",l1)
l2.clear()
print("List 2 after using clear function",l2)

List 1 after extending with list 2 [1, 2, 3, 4, 5, 6]
List 2 after using clear function []

**LOOPS AND CONTROL STEMENT IN PYTHON**

First let's discuss **while loop**. The syxtax for while loop is while(expression). The statement(s) runs while the expression is true. Let's look at an example, we are assigning the initial value of count = 0 , while count is smaller than 3 print hello world and count = count +1.This code will run 3 times. we can see that hello world is printed 3 times as expected.

In [ ]:
# while(expression):
#  stement(s)

count = 0
while (count < 3):
  print("Hello world")
  count = count + 1

Hello world
Hello world
Hello world

Here is the **syntax for a for loop in python**. Let's look at an example, we have list l and we are writing for iterator i in l, that means i will iterate from start to end of the list, and each time we print i. Let's run this code, we can see that all the values of the list are printed.

In [ ]:
# for iterator_var in sequence:
# statement(s)
l = ["This", "is", "geeksforgeeks"]
for i in l:
  print(i)

This
is
geeksforgeeks

Now. **let's look at nested loops**. Here are the syntax of nested loops both for the for loop and while loop. we can also have a for loop inside while loop and vice versa. Let's look at this example, we have a list containing words, so first we write for word in l and then there is an inner loop for character in word and we are printing the character. let's run this code, we can see that the characters of all the words are printed.

In [ ]:
# nested for loop
# for iterator_var in sequence:
#     for iterator_var in sequence:
#          statements(s)
#          statements(s)

# nested while loop
# while expression:
#    while expression:
#         statements(s)
#         statements(s)

l = ["This", "is", "geeksforgeeks"]
for word in l:
  for character in word:
    print(character)

T
h
i
s
i
s
g
e
e
k
s
f
o
r
g
e
e
k
s

**Now, let's look at some loop control statements**. Loop control statements change execution of a loop from its normal sequence. Let's first discuss the continue statement. The continue statement returns the control to the beginning of a loop. Let's look at an example, **suppose we have a string "geeksforgeeks".** Now we are using for loop to iterate the string. **if letter = 'e' or letter = 's'** we continue, else we print letter. Let's run this code. We can see that all the characters except e and s are printed, this is because of the continue statement.

In [ ]:
# continue statement
l = "GeeksforGeeks"
for letter in l:
  if (letter == 'e' or letter =='s'):
    continue;
  else:
    print(letter)

G
k
f
o
r
G
k

**Break statement** - brings control out of the loop. Let's look at the same example but this time we are using break statement in place of continue. Let's run the code. We can see that all the values before the first 'e' or first 's' are printed. This is because when the interpreter encountered an 'e' or 's', the loop break.

In [ ]:
# break statement

l = "GeeksforGeeks"
for letter in l:
  if(letter == 'e' or letter == 's'):
    break;
  else:
    print(letter)

G

**Pass statement** - is used to write empty loops. Let's look at this example, we are using pass statement for the entire loop and just printing the value of last letter.

In [ ]:
# pass statement

l = "GeeksforGeeks"
for letter in l:
  pass;
print("Last letter: ",letter)

Last letter:  s

**SPLITTING AND USING LOGICAL OPERATORS ON STRING IN PYTHON**

**In python we use the split function for splitting a string**. Let's look at an example. So, we have a string str = "Geek1 Geek2 Geek3" suppose we need to split this string and have Geek1, Geek2, and Geek3 in a list. So, we simply write l = str.split(). Now, l is a list containing these strings. let's run this code. we can see that the output is a list containing geek1 geek2 geek3.

In [ ]:
#split with space

str = "Geek1 Geek2 Geek3"
l = str.split()
print(l)

['Geek1', 'Geek2', 'Geek3']

**Let's look at another example, split with comma**. suppose we have this string and we wish to split the string with the comma. So, we simply write l = str.split('a'). let's run this code, we can see that the string is splitted with commas and we have all the values seperated.

In [ ]:
#split with comma

str = "Geek1,Geek2,Geek3"
l = str.split(',')
print(l)

['Geek1', 'Geek2', 'Geek3']

**Suppose we just need to split the first comma**, space or any character for that matter. For doing this, we write str.split and with in brackets comma and 1. Representing that we will split with just the first comma. Let's run this code, we can see that only the first comma is splitted.

In [ ]:
#split with comma

str = "Geek1,Geek2,Geek3"
l = str.split(',',1)
print(l)

['Geek1', 'Geek2,Geek3']

**Logical Operators in python.** python considers empty strings as having boolean value of false and non-empty string having boolean value of true. For 'and' operator if left value is true, then right value is checked and returned. If left value is false, then left value is returned for 'or' operator i. str1 is an empty string so it represents false, str2 and str3 represents boolean true. Let's run this code. We can see that whenever we perform with an empty string, then the empty string is printed and whenever we perform or with an empty string, the other string is returned as empty string is boolean false when we perform and operatins on str2 and str3 then str3 is returned and when we perform or operation, then str2 is returned as both of them are boolean true.

In [ ]:
# logical operators

str1 = " "
str2 = "geeksforgeeks"
str3 = "geeks"
print("str1: ",str1)
print("str2: ",str2)
print("str3: ",str3)
print("str1 and str2: ",str1 and str2)
print("str1 or str2: ",str1 or str2)
print("str2 and str1: ",str2 and str1)
print("str2 and str2: ",str2 or str1)

print("str2 and str3: ",str2 and str3)
print("str2 or str3: ",str2 or str3)
print("str3 and str2: ",str3 and str2)
print("str3 or str2: ",str3 or str2)

str1:
str2:  geeksforgeeks
str3:  geeks
str1 and str2:  geeksforgeeks
str1 or str2:
str2 and str1:
str2 and str2:  geeksforgeeks
str2 and str3:  geeks
str2 or str3:  geeksforgeeks
str3 and str2:  geeksforgeeks
str3 or str2:  geeks

**TUPLES PYTHON**

In some way tuples are similar to lists in terms of indexing, nested objects and repetitions. The difference is that tuples are immutable. That is, they cannot be changed once declared. Let's first discuss how to create tuples. To create an empty tuple we write empty_tuple = round brackets open and close. To create non empty tuples we add values in a tuple like this.Just like strings, **we can have string, integers and other data types in tuple.**Let's run thise code, we can see that the first tuple is empty and next one contains all the values we had in parenthesis.

In [ ]:
# creating tuples
empty_tuple = ()
print(empty_tuple)
tup1 = ('geeks', 'for', 'geeks', 3)
print(tup1)

()
('geeks', 'for', 'geeks', 3)

For the **concatenation of tuples we use the plus operator**. Let's see this example, we have two tuples and we are printing their concatenation. Let's run this code, we can see that output is as expected.

In [ ]:
# Concatenation of tuples

tup1 = ('geeks', 'for', 'geeks')
tup2 = (1,2,3)
print(tup1 + tup2)

('geeks', 'for', 'geeks', 1, 2, 3)

**Next, let's see nested tuples**. Nested tuples are tuples containing two or more other tuples to perform this, we do something we declare all the tuples that we want to have in a single one. Next, we declare a new tuple and add all of them like this. Let's run this code. we can see that output is a single tuple containing all of them.

In [ ]:
# Nested tuples

tuple1 = ('geeks', 'for', 'geeks')
tuple2 = ('python')
tuple3 = (tuple1,tuple2)
print(tuple3)

(('geeks', 'for', 'geeks'), 'python')

**Suppose we want to have repetition in our tuple**, to do this, we declare a tuple like this tuple1 = ('python',)*4 and in the end add a multiply sign followed by the number repetitions you want. Let's run this code, we can see that output is a tuple having the string python4 times.

In [ ]:
# repetition in tuples

tuple1 = ('python',)*4
print(tuple1)

('python', 'python', 'python', 'python')

**As we have discussed earlier, tuples are immutable. Let's look at this example, here we are trying to change the first element of the tuple as we did in list. Let's run this code, we can see that we are getting an error stating that tuple object does not support item assignment. This is because tuples are immutable and cannot be changed**.

In [ ]:
# tuples are immutable
tuple1 = (0,1,2,3)
tuple1[1] = 4
print(tuple1)

TypeError: ignored

**To find the length of a tuple, we can use len function**. We can see this example, we have declared a tuple and we are writing len and within parenthesis the name of tuple. Let's run this code, we can see that the output is 3.

In [ ]:
# length of a tuple

tuple1 = (1,2,3)
print("length of this tuple is: ",len(tuple1))

length of this tuple is:  3

**Let's look at how to convert list to a tuple**. Suppose we have list, now to convert this list into a tuple we can write tuple and within brackets the name of list and assign it to some other variable. Let's run this code, we can see that temp is a tuple containing same values as

In [ ]:
# converting list to tuple

list1 = [1,2,3]
temp = tuple(list1)
print(temp)

(1, 2, 3)

**SLICING AND SPLITTING IN PYTHON**

**Slicing can be done on lists, strings and tuples. Slicing in python can be done in this format, List1 [start:end:step]**. By writing this, we get values from index start to end - 1 with an index difference equal to step. Let's see this code, we have a list and we are slicing it from index 1 to 4 with a step equal to 1. Let's run this code, we can see that all the values from index 1 to 4 of the list l are printed.

In [ ]:
#Slicing
#list1[start:end:step]
list1 = [1,2,3,4,5,6,7,8]
print("List: ", list1)
print("After Slicing")
print(list1[1:4:1])

List:  [1, 2, 3, 4, 5, 6, 7, 8]
After Slicing
[2, 3, 4]

**If we are using a positive value of step, then the default value of start and end is the starting and ending index of the list respectively. Whereas, if we are using a negative value of step, then the default values of start and end is the ending index and starting index of the list that is, just the opposite as in the case of positive step. Let's look at this example, here we are using this property to print a list in reverse. By writing this, we mean start = 4, end = 0 and step = -1 that is values from index 4 to zero are printed. Let's run this code. we can see that reverse of the list is printed**.

In [ ]:
# Slicing
list1 = [1,2,3,4]
print("List: ", list1)
print("Reversed list")
print(list1[::-1]) # start = 4 and end = 0

List:  [1, 2, 3, 4]
Reversed list
[4, 3, 2, 1]

**Now, let's learn splitting a string in python**. To split a string we use split function. This is generally used when we have a string containing the elements separated by a character. It could be a comma, space or anything. Suppose we have a string like this and we wish to all the names of fruits in a list. So, str is a string containing the names of fruits separated by a comma, to get these into a list we arite, str.split and within brackets a comma and assign it to a list variable. Let's run this program, we can see that all the elements are now in a list.

In [ ]:
# Splitting

str1 = "Banana,Apple,Orange,Papaya"
list1 = str1.split(' ')
print(list1)

['Banana,Apple,Orange,Papaya']

Let's look at another example, here we have 3 values separated by a space. To get these values into 3 different variables, we arite, a comma b comma c = str.split(). If we do not have anything in the argument of split, it takes space as default. Let's run this code.

In [ ]:
# Splitting

str1 = "value1 value2 value3"
a,b,c = str1.split()
print(a,b,c)

value1 value2 value3

**DICTIONARY PART- 1**

**In python, dictionary is similar to hash or maps in other languages. It consists of key value pairs. The value can be accesses by unique key in the dictionary. Let's first learn how to create a dictionary. To create an empty dictionary we use the keyword dict() and assign it to a variable. For adding values in this dictionary we do something like this. We write the dictionary variable and with the brackets we write the key equals to the value. Now, key xyz is assigned to 1. Similarly we have created two more key value pairs. Now, let's print this dictionary. we can see that, all the keys are assigned to their respective values. Now, let's suppose we just need the keys. so we write, print(d.keys(). Let's run this code. we can see that all the keys of the  dictionary are printed**.

In [ ]:
# Dictionary in Python
d = dict()
print(d)
d['xyz'] = 1
d['abc'] = 2
d['lmn'] = 3
print(d)

{}
{'xyz': 1, 'abc': 2, 'lmn': 3}

Now, let's suppose we just need the keys. so we write, print, d.keys(). Let's run this code. We can see that the keys of the dictionary are printed.

In [ ]:
# Dictionary in Python
d = dict()
d['xyz'] = 1
d['abc'] = 2
d['lmn'] = 3
print(d.keys())

dict_keys(['xyz', 'abc', 'lmn'])

**To print all the values of the dictionary. we write, d.values()**. Let's run this code. we can see that all the values are printed this time. Let's see how to delete a key value pair in dictionaries. To delete a key value pair, we write del and then write the name of dictionary variable and within square brackets the key you wish to delete. Let's run this code, we can see that xyz is deleted from the dictionary.

In [ ]:
# Dictionary in python
d = dict()
d['xyz'] = 1
d['abc'] = 2
d['lmn'] = 3
print(d)
del d['xyz']
print(d)

{'xyz': 1, 'abc': 2, 'lmn': 3}
{'abc': 2, 'lmn': 3}

**There is another way of declaring a dictionary in Python**. We can declare a dictionary by using curly brackets and within brackets we put all the key value pairs like this. we can check whether a key exists or not in dictionary. To do so, we do something like this. It will print True or False depending whether the key exists or not. Let's run this code. we can see that the output is true.

In [ ]:
# Dictionary in python
d = {'xyz':1,'abc':2,'def':3}
print(d)
print('xyz' in d)

{'xyz': 1, 'abc': 2, 'def': 3}
True

**DICTIONARY PART - 2**

**Let's discuss the len function**. This function returns the count of key entities of the dictionary. To use len function, we just write len and within brackets, the name of dictionary. Let's run this code, **we can see that the length of this dictionary is 3**. This is the number of key value pairs in the dictionary.

In [ ]:
# len function
d = {'abc':1,'cde':2,'def':3}
print(d)
print(len(d))

{'abc': 1, 'cde': 2, 'def': 3}
3

To convert dictionary into a string, we use the "str" function. Here we are using the "str" function to convert this dictionary into a string and we are printing the first 5 values of this string. Let's run this code. We can see that first 5 values of the string are printed.

In [ ]:
# dictionary to string
d = {'abc':1,'cde':2, 'def':3}
str1 = str(d)
print(str1)
print(str1[0:5:1])

{'abc': 1, 'cde': 2, 'def': 3}
{'abc

**Let's discuss the item function**. This function is used to return the list with all dictionary keys with values. Let's run the function items on this dictionary. We can see that, all the keys and values of this dictionary are returned. We can also see that the key key value of this dictionary are printed in no particular order.

In [ ]:
# items()
d = {'abc':1,'cde':2,'def':3,'fgh':4}
print(d.items())

dict_items([('abc', 1), ('cde', 2), ('def', 3), ('fgh', 4)])

**Let's discuss the copy function**. Copy function is used to create a copy of one dictionary into another. Here's an example, we are using the copy function to copy the contents of dictionary 1 into dictionary 2. Let's run this code, we can see that dictionary 2 is now same as dictionary 1.

In [ ]:
# copy() and clear()
d1 = {'abc':1,'cde':2,'def':3,'fgh':4}
d2 = {}
d2 = d1.copy()
#d1.clear()
print(d1)
print(d2)

{'abc': 1, 'cde': 2, 'def': 3, 'fgh': 4}
{'abc': 1, 'cde': 2, 'def': 3, 'fgh': 4}

Now, suppose we need to clear dictionary1. To clear a dictionary, we use clear function. Now, let's clear dictionary 1 by writing d1.clear(). Let's run this code.  we can see that dictionary 1 is clear now.

In [ ]:
d1 = {'abc':1,'cde':2,'def':3,'fgh':4}
d2 = {}
d2 = d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'abc': 1, 'cde': 2, 'def': 3, 'fgh': 4}

**DICTIONARY - PART 3 | PYTHON**

**Let's first discuss the update function**. This function is used to update the dictionary to add other dictionary keys. let's see this example. we have 2 dictionaries, **one containing the name and age and dictionary 2 containing the roll number**. we are updating dictionary 1 with dictionary 2. Let's run this code. we can see that dictionary 1 now contains roll number too.

In [ ]:
# update()
d1 = {'Name':'Aneesh','Age':14}
d2 = {'Roll Number':2015155}
d1.update(d2)
print(d1)

{'Name': 'Aneesh', 'Age': 14, 'Roll Number': 2015155}

**Let's discuss the get function**. This function return the value associated with the key mentioned in its argument. **If key is not present, the default value is returned**. Here's the format for using this function. Let's look at this example, we have a dictionary and we are checking the value associated with roll_number and name using get function with default value, "not present".we can see that in the dictionary we just have the name and not the roll number. so, let's run this code. we can see that the value associated with name is printed and for ID not present is printed.

In [ ]:
# get(key,def_value) function

d = {'Name':'Aneesh'}
print(d.get('Name',"Not Present"))
print(d.get('Roll_number',"Not Present"))
print(d)

Aneesh
Not Present
{'Name': 'Aneesh'}

Let's discuss the **set default function**. This function also searches for a key and desplays it's value like get() but, it creates new key default value if key is not present. Let's look at the same example by simply changing get to set default. Let's run this code, we can see that the first 2 outputs are same. But this time there is a new key in the dictionary with default value not present.

In [ ]:
# setdefault(key,def_value) function

d = {'Name':'Aneesh'}
print(d.setdefault('Name',"Not Present"))
print(d.setdefault('Roll_number',"Not Present"))
print(d)

Aneesh
Not Present
{'Name': 'Aneesh', 'Roll_number': 'Not Present'}

**Python Type Conversion**

**Python defines type conversion functions to directly convert one data type to another**. First let's discuss the int and float functions. **The int function converts any data type to integer**. And float function is used to convert any data type to a floating point number. **We have declare a string "1001"**. Now we are converting it to integer with base 2 and base 10. Let's run this code. **we can see that the output is 9 and 1001**. As they are binary and decimal conversion of string 1001. Now let's convert this string to float by using the float function. Let's run this code again , we can see that string 1001 is converted to float.